[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{messages.*,spring.schemas,org.codehaus.groovy.runtime.ExtensionModule,spring.handlers,messages,*.properties}]
indent_style=space
indent_size=4

[{*.gson,*.gradle,*.groovy,*.gant,*.gdsl,*.gy}]
indent_style=space
indent_size=4

[{*.kts,*.kt}]
indent_style=space
indent_size=4

