.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
application.properties
localhost-env.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr
**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


authenticator/bin
cameo/bin
core/bin
crud/bin
data/bin
elastic/bin
example/bin
jcr/bin
json/bin
jupyter/bin
ldap/bin
permissions/bin
rdb/bin
webhooks/bin