version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    working_directory: ~/mms
    steps:
      - checkout

      - setup_remote_docker

      - run: 
          name: "Create and start all services from the docker-compose configuration"
          command: |
            cp example/src/main/resources/application.properties.example ./example/src/main/resources/application.properties
            docker-compose up -d
            docker run --network container:mms curlimages/curl --retry 5 --retry-delay 10 --retry-max-time 50 --retry-connrefused http://mms:8080/healthcheck

      - run:
            name: "Copy artifacts from mms container"
            command: |
                docker cp -a mms:/mms/temp ~/mms/

      - run: 
          name: "Run and test Postman Collection"
          command: |
            cd ~/mms/example
            docker create -v /tst --name mms_test_configs alpine:3.4 /bin/true
            docker cp ~/mms/example/. mms_test_configs:/tst
            docker run --volumes-from mms_test_configs --link mms_mms_1 --network=container:mms_default -t postman/newman run /tst/crud.postman_collection.json -e /tst/test-env.json --delay-request 300
      
      - run:
          name: "Configure jfrog"
          command: |
            curl -fL https://getcli.jfrog.io | sh
            ./jfrog rt config --url $ARTIFACTORY_URL --user $ARTIFACTORY_USER --apikey $ARTIFACTORY_APIKEY
      
      - run: 
          name: "Send modules"
          command: 
            for FILENAME in ~/mms/temp/*.jar; do
              filePath=$FILENAME;
              fileName=${filePath##*/};
              base=${fileName%.*};
              MODULE=${base%%-*};
              moduleVer=${base%-*};
              VERSION_NUM=${moduleVer##*-};
              ./jfrog rt u "$FILENAME" libs-snapshot-local/org/openmbee/"$MODULE"/"$VERSION_NUM"/ --build-name=mms-circleci --build-number=$CIRCLE_BUILD_NUM --flat=true;
            done
workflows:
    version: 2
    build-and-test:
      jobs:
        - build-and-test
