saml.enabled=false
saml.provider.base=ou=something,dc=openmbee,dc=org
saml.provider.url=ldaps://ldap.openmbee.org/${ldap.provider.base}
saml.provider.userdn=
saml.provider.password=
saml.user.dn.pattern=uid={0}
saml.user.attributes.username=
saml.user.attributes.email=
saml.group.role.attribute=cn
saml.group.search.base=
saml.group.search.filter=uniqueMember={0}
