elasticsearch.host=localhost
elasticsearch.port=9200
elasticsearch.http=http
elasticsearch.limit.result=100
elasticsearch.limit.term=100
elasticsearch.limit.scrollTimeout=1000
elasticsearch.limit.get=100000
elasticsearch.limit.index=5000