# See authenticator module for example configuration
mms.admin.username=test
mms.admin.password=test

mms.stream.batch.size=100000

jwt.secret=make_me_something_really_long
jwt.expiration=86400
jwt.header=Authorization

# See ldap module for example configuration
ldap.provider.base=ou=something,dc=openmbee,dc=org
ldap.provider.url=ldaps://ldap.openmbee.org/${ldap.provider.base}
ldap.provider.userdn=
ldap.provider.password=
ldap.user.dn.pattern=uid={0}
ldap.user.attributes.username=
ldap.user.attributes.email=
ldap.group.role.attribute=cn
ldap.group.search.base=
ldap.group.search.filter=uniqueMember={0}

# See core module for example configuration
spring.datasource.url=jdbc:postgresql://localhost:5432
#spring.datasource.url=jdbc:mysql://localhost:3306
spring.datasource.database=mms
spring.datasource.username=mmsuser
spring.datasource.password=test1234
spring.datasource.driver-class-name=org.postgresql.Driver
#spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.datasource.initialization-mode=always

# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL10Dialect
#spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
#spring.jpa.properties.hibernate.dialect.storage_engine=innodb

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.open-in-view=false

spring.main.allow-bean-definition-overriding=true

#Configuration for Elasticsearch
elasticsearch.host=localhost
elasticsearch.port=9200
elasticsearch.http=http
elasticsearch.index.element=mms
elasticsearch.limit.insert=80
elasticsearch.limit.result=10000
elasticsearch.limit.term=1000
elasticsearch.limit.scrollTimeout=1000
elasticsearch.limit.get=100000
elasticsearch.limit.index=5000
elasticsearch.limit.commit=100000

#Configuration for TWC
#port is for REST interface
#aliases are for clustered usages
twc.instances[0].url=dev-twc-03.domain.com
twc.instances[0].protocol=https
twc.instances[0].port=8111
twc.instances[0].aliases[0]=dev-twc-02.domain.com
twc.instances[0].aliases[1]=dev-twc-01.domain.com

springdoc.swagger-ui.path=/v3/swagger-ui.html
#For sorting endpoints alphabetically
springdoc.swagger-ui.operationsSorter=alpha
#For sorting tags alphabetically
springdoc.swagger-ui.tagsSorter=alpha
springdoc.default-produces-media-type=application/json
springdoc.swagger-ui.displayOperationId=true

s3.endpoint=http://localhost:9000
s3.access_key=admintest
s3.secret_key=admintest
s3.region=optional
s3.bucket=optional